<body id="top" *ngIf="arrCompleto!=undefined">

    <div class="page-content">
      <div class="container">
        <div class="cover shadow-lg bg-white">

            <app-datospersonales [arrCompleto]="arrCompleto"></app-datospersonales>
          <ng-container *ngFor="let item of arrCompleto.secciones|keyvalue|orderBy:'value.orden'">
            
            <app-seccion  [datos]="item.value"></app-seccion>
          </ng-container>


          <hr class="d-print-none" />
        </div>
      </div>
    </div>


  </body>